.search-input {
   min-width: 100%;
   border: none;
   border-radius: 10px;
   height: 30px;

}
.search-input-wrapper{
    max-width: 500px;
    width: auto;
    border: 1px solid gray;
    height: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.search-input :active, :hover, :focus{
  
    outline: 0;
    outline-offset: 0;
 }